
__pycache__/
*.py[cod]
*$py.class
*.manifest
*.spec


venv/
env/
.venv/
.env/


.vscode/
.idea/
*.swp
*.swo


.env
.env.local
.streamlit/secrets.toml


*.log
logs/
pgdata/
kafka-data/


.DS_Store
Thumbs.db


.dockerignore


.pytest_cache/
.mypy_cache/